#card-selection{
  display: flex;
  justify-content: center;
  gap: 20px;
}

#card-selection .card {
  width: 1fr;
  min-height: 1fr;
  /* height:  ; */
  border: 1px black solid;
  padding: 20px;
}

#card-selection .card:hover {
  background-color: aliceblue;
}
