#card-selection{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#card-selection .card {
  min-width: 30px;
  min-height: 50px;
  border: 1px black solid;
  margin: 20px;
}

#card-selection .card:hover {
  background-color: aliceblue;
}
